@charset "UTF-8";

@import '_reset.css';

.container-wrapper {
  padding: 38px 0;
  overflow-x: hidden;
  //background: #e5e5e5;

  .container {
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 44px 42px 70px 50px;
    max-width: 700px;
    min-width: 280px;
    letter-spacing: -1.5px;

    // 짝수로 조정?

    .header {
      margin-bottom: 34px;

      .logo {
        //짝수

        img {
          height: 50px;
          object-fit: contain;
        }
      }
    }

    .content {
      padding: 52px 0 56px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;

      .title {
        font-size: 36px;
        font-weight: 700;
        color: #545454;
        //짝수
        margin-bottom: 38px;
      }

      .desc {
        margin-bottom: 62px;
        font-size: 18px;
        font-weight: 300;
        color: #545454;

        .desc-detail {
          &:nth-child(3) {
            margin-bottom: 30px;
          }
        }

        .highlight {
          color: #00B2FF;
          text-decoration: underline;
        }
      }

      .button-box {
        display: flex;
        align-items: center;
        .button {
          padding: 12px 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #0072f6;
          color: #fff;
          border-radius: 10px;
          outline: 0;
          border: 0;
          font-size: 18px;
          font-weight: bold;
          font-family: 'Noto Sans KR', sans-serif;
          cursor: pointer;

          .button-desc {
            text-decoration: none;
            color: #fff;
          }
        }
      }

    }

    .footer {
      //짝수
      padding-top: 38px;
      .contact {
        font-size: 14px;
        font-weight: 300;
        color: #545454;
      }
    }
  }

}

